/*======== layout.scss ========*/
* {
  box-sizing: border-box; }

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px; }

/* ba-grid */
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px; }

.row + .row {
  margin-top: 1rem; }

@media only screen and (min-width: 0) {
  [class*="col-xs"] {
    box-sizing: border-box;
    padding-right: 15px;
    padding-left: 15px; }
  .hidden-xs {
    display: none !important; }
  .col-xs-1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%; }
  .col-xs-2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%; }
  .col-xs-3 {
    flex-basis: 25%;
    max-width: 25%; }
  .col-xs-4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%; }
  .col-xs-5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%; }
  .col-xs-6 {
    flex-basis: 50%;
    max-width: 50%; }
  .col-xs-7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%; }
  .col-xs-8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%; }
  .col-xs-9 {
    flex-basis: 75%;
    max-width: 75%; }
  .col-xs-10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%; }
  .col-xs-11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%; }
  .col-xs-12 {
    flex-basis: 100%;
    max-width: 100%; } }

@media only screen and (max-width: 0) {
  .hidden-before-xs {
    display: none !important; } }

@media only screen and (min-width: 525px) {
  [class*="col-sm"] {
    box-sizing: border-box;
    padding-right: 15px;
    padding-left: 15px; }
  .hidden-sm {
    display: none !important; }
  .col-sm-1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%; }
  .col-sm-2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%; }
  .col-sm-3 {
    flex-basis: 25%;
    max-width: 25%; }
  .col-sm-4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%; }
  .col-sm-5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%; }
  .col-sm-6 {
    flex-basis: 50%;
    max-width: 50%; }
  .col-sm-7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%; }
  .col-sm-8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%; }
  .col-sm-9 {
    flex-basis: 75%;
    max-width: 75%; }
  .col-sm-10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%; }
  .col-sm-11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%; }
  .col-sm-12 {
    flex-basis: 100%;
    max-width: 100%; } }

@media only screen and (max-width: 525px) {
  .hidden-before-sm {
    display: none !important; } }

@media only screen and (min-width: 768px) {
  [class*="col-md"] {
    box-sizing: border-box;
    padding-right: 15px;
    padding-left: 15px; }
  .hidden-md {
    display: none !important; }
  .col-md-1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%; }
  .col-md-2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%; }
  .col-md-3 {
    flex-basis: 25%;
    max-width: 25%; }
  .col-md-4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%; }
  .col-md-5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%; }
  .col-md-6 {
    flex-basis: 50%;
    max-width: 50%; }
  .col-md-7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%; }
  .col-md-8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%; }
  .col-md-9 {
    flex-basis: 75%;
    max-width: 75%; }
  .col-md-10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%; }
  .col-md-11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%; }
  .col-md-12 {
    flex-basis: 100%;
    max-width: 100%; } }

@media only screen and (max-width: 768px) {
  .hidden-before-md {
    display: none !important; } }

@media only screen and (min-width: 1025px) {
  [class*="col-lg"] {
    box-sizing: border-box;
    padding-right: 15px;
    padding-left: 15px; }
  .hidden-lg {
    display: none !important; }
  .col-lg-1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%; }
  .col-lg-2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%; }
  .col-lg-3 {
    flex-basis: 25%;
    max-width: 25%; }
  .col-lg-4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%; }
  .col-lg-5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%; }
  .col-lg-6 {
    flex-basis: 50%;
    max-width: 50%; }
  .col-lg-7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%; }
  .col-lg-8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%; }
  .col-lg-9 {
    flex-basis: 75%;
    max-width: 75%; }
  .col-lg-10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%; }
  .col-lg-11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%; }
  .col-lg-12 {
    flex-basis: 100%;
    max-width: 100%; } }

@media only screen and (max-width: 1025px) {
  .hidden-before-lg {
    display: none !important; } }

@media only screen and (min-width: 1201px) {
  [class*="col-xl"] {
    box-sizing: border-box;
    padding-right: 15px;
    padding-left: 15px; }
  .hidden-xl {
    display: none !important; }
  .col-xl-1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%; }
  .col-xl-2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%; }
  .col-xl-3 {
    flex-basis: 25%;
    max-width: 25%; }
  .col-xl-4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%; }
  .col-xl-5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%; }
  .col-xl-6 {
    flex-basis: 50%;
    max-width: 50%; }
  .col-xl-7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%; }
  .col-xl-8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%; }
  .col-xl-9 {
    flex-basis: 75%;
    max-width: 75%; }
  .col-xl-10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%; }
  .col-xl-11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%; }
  .col-xl-12 {
    flex-basis: 100%;
    max-width: 100%; } }

@media only screen and (max-width: 1201px) {
  .hidden-before-xl {
    display: none !important; } }

@media only screen and (min-width: 1441px) {
  [class*="col-xxl"] {
    box-sizing: border-box;
    padding-right: 15px;
    padding-left: 15px; }
  .hidden-xxl {
    display: none !important; }
  .col-xxl-1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%; }
  .col-xxl-2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%; }
  .col-xxl-3 {
    flex-basis: 25%;
    max-width: 25%; }
  .col-xxl-4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%; }
  .col-xxl-5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%; }
  .col-xxl-6 {
    flex-basis: 50%;
    max-width: 50%; }
  .col-xxl-7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%; }
  .col-xxl-8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%; }
  .col-xxl-9 {
    flex-basis: 75%;
    max-width: 75%; }
  .col-xxl-10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%; }
  .col-xxl-11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%; }
  .col-xxl-12 {
    flex-basis: 100%;
    max-width: 100%; } }

@media only screen and (max-width: 1441px) {
  .hidden-before-xxl {
    display: none !important; } }

/* ba-common */
.ba-text-center {
  text-align: center; }

.ba-text-left {
  text-align-last: left; }

.ba-text-right {
  text-align: right; }

.ba-text-justify {
  text-align: justify; }

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden; }

.hidden {
  display: none; }

/*======== style.scss ========*/
body {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 0; }

.header {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  pointer-events: none; }
  .header__title {
    font-style: normal;
    font-weight: 600;
    /* good for 1920x1080 in Figma, but too much for width: 1200px */
    color: #003EDE;
    font-size: 26vmin;
    line-height: 1em;
    opacity: 0.3;
    text-transform: uppercase;
    margin: 0;
    background: linear-gradient(89.92deg, #4F96FF -3.19%, rgba(113, 176, 255, 0) 103.81%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #003EDE; }

main {
  height: 100vh;
  background-image: url("../img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 25% 0;
  display: flex;
  align-items: center;
  justify-content: center; }

.hello-title {
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: bold;
  /* good for 1920x1080 in Figma, but too much for width: 1200px */
  font-size: 4.375rem;
  line-height: 1.15em;
  color: #000000; }

.section-login__title {
  font-style: normal;
  font-weight: 600;
  /* good for 1920x1080 in Figma, but too much for width: 1200px */
  font-size: 2.75rem;
  line-height: 1.38em;
  text-align: center;
  color: #001240; }

.login-form {
  max-width: 662px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  /* for invalid login */ }
  .login-form-wrap {
    width: 100%; }
    .login-form-wrap div {
      display: flex;
      justify-content: space-between; }
  .login-form .error-message {
    font-size: 0.6875rem;
    line-height: 1.1818em;
    color: #DB0000;
    text-align: right; }
    .login-form .error-message-wrap {
      display: flex;
      align-items: center; }
      .login-form .error-message-wrap svg {
        margin-left: auto;
        margin-right: 0.5rem; }

.login__inp {
  max-width: 220px;
  width: 100%;
  height: 45px;
  background: rgba(0, 62, 222, 0.08);
  border: 1px solid #003EDE;
  box-sizing: border-box;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1.21em;
  padding-left: 10px;
  color: black;
  /* for invalid user's data */
  /* for sucsessful login */ }
  .login__inp--error {
    border: 1px solid #DB0000; }
  .login__inp--ok {
    border: 1px solid #00DE16; }

.login__btn {
  width: 45px;
  height: 45px;
  background-color: transparent;
  color: #003EDE;
  border: none;
  padding: 0;
  margin-left: 20px;
  /* for sucsessful login */ }
  .login__btn--ok svg {
    color: #00DE16; }

.nav {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-wrap: wrap; }
  .nav-wrap {
    width: 45vmin;
    max-width: 364px;
    position: relative;
    transform: rotate(45deg);
    margin: 0 auto; }
    .nav-wrap:before {
      content: "";
      display: block;
      padding-top: 100%; }
    .nav-wrap-mob {
      width: 100%;
      height: 100%;
      padding: 1rem; }
  .nav-mob {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .nav-mob .nav-item {
      display: block;
      position: static;
      width: 100%;
      padding: 0 1rem;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      text-decoration: none; }
      .nav-mob .nav-item:before {
        content: none; }
      .nav-mob .nav-item__svg {
        position: static;
        display: flex;
        width: 90px;
        height: 90px;
        transform: none; }
        .nav-mob .nav-item__svg svg {
          width: 90px;
          height: 90px; }
      .nav-mob .nav-item__title {
        font-size: 1.5rem; }
    .nav-mob .fire svg {
      transform: rotate(-90deg); }
    .nav-mob .air svg {
      transform: rotate(90deg); }
    .nav-mob .air .nav-item__title {
      margin-left: 0; }
    .nav-mob .air .nav-item__svg {
      transform: scale(0.9); }
    .nav-mob .water svg {
      transform: rotate(-90deg); }
    .nav-mob .ground svg {
      transform: rotate(90deg); }
    .nav-mob .ground .nav-item__title {
      margin-left: 0; }
    .nav-mob .ground .nav-item__svg {
      transform: scale(0.8); }
  .nav:before {
    content: '';
    position: absolute;
    width: 8%;
    height: 8%;
    border-radius: 50%;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    margin: 0 auto;
    background: #BEDBFD;
    box-shadow: 0px 0px 10px rgba(0, 62, 222, 0.35); }
  .nav-item {
    display: block;
    width: 50%;
    position: relative; }
    .nav-item:before {
      content: "";
      display: block;
      padding-top: 100%; }
    .nav-item__svg {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      transform: scale(1.2); }
    .nav-item__svg svg {
      max-height: 100%;
      width: auto;
      color: #BEDBFD; }
    .nav-item__title {
      text-transform: uppercase;
      font-weight: bold;
      width: fit-content;
      margin: 0;
      font-size: 4vmin;
      position: relative;
      z-index: 1;
      border-bottom: 1px solid transparent; }
      .nav-item__title:before {
        content: '';
        width: 10px;
        height: 10px;
        border-radius: 50%;
        position: absolute;
        right: -20px;
        top: 50%;
        transform: translateY(-50%); }
      .nav-item__title:hover, .nav-item__title.hovered {
        border-color: inherit; }
      .nav-item__title a {
        text-decoration: none;
        color: inherit; }
    .fire .nav-item__title {
      color: #ffb83d; }
      .fire .nav-item__title:before {
        background-color: #ffb83d; }
    .air .nav-item__title {
      color: #cea1ff;
      margin-left: auto; }
      .air .nav-item__title:before {
        background-color: #cea1ff;
        left: -20px; }
    .water .nav-item__title {
      color: #70bbcd; }
      .water .nav-item__title:before {
        background-color: #70BBCD; }
    .ground .nav-item__title {
      color: #bfc652;
      margin-left: auto; }
      .ground .nav-item__title:before {
        background-color: #bfc652;
        left: -20px; }
  .nav-titles {
    position: absolute;
    top: 0;
    left: -30%;
    transform: rotate(-45deg);
    width: 160%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    z-index: -1; }
    .nav-titles__wrap {
      width: 50%; }
    .nav-titles .water, .nav-titles .ground {
      align-self: flex-end; }

.fire svg {
  transform: rotate(-45deg); }

.fire:hover svg, .fire.hovered svg {
  color: #ff7215; }

.air svg {
  transform: rotate(45deg); }

.air:hover svg, .air.hovered svg {
  color: #563563; }

.water svg {
  transform: rotate(-135deg); }

.water:hover svg, .water.hovered svg {
  color: #0085a6; }

.ground svg {
  transform: rotate(135deg); }

.ground:hover svg, .ground.hovered svg {
  color: #284E00; }

.section-menu {
  max-width: 100vw;
  width: 100%;
  margin-top: 25vh;
  height: 70vh;
  display: flex;
  align-items: center;
  overflow: hidden; }

.typed-cursor {
  font-weight: 300; }

.hidden {
  display: none !important; }

.fade-in {
  animation: fadeIn 1.5s ease 1; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@media (max-width: 425px) {
  .header__title {
    font-size: 5.5rem;
    background: linear-gradient(89.92deg, #c5dcff -3.19%, rgba(41, 137, 255, 0.75) 103.81%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .hello-title {
    font-size: 2.5rem; }
  .section-login__title {
    font-size: 1.75rem; }
  .login-form {
    flex-direction: column; }
  .login-form-wrap .inputs-wrap {
    flex-direction: column; }
    .login-form-wrap .inputs-wrap .login__inp {
      margin-bottom: 10px;
      max-width: 100%; }
  .error-message-wrap svg {
    width: 25px; }
  .login__btn {
    margin: 0 auto;
    width: 50px;
    height: 50px; }
    .login__btn svg {
      width: 50px;
      height: 50px; } }

@media (max-width: 320px) {
  .hello-title {
    font-size: 2rem; }
  .section-login__title {
    font-size: 1.5rem; }
  .header__title {
    font-size: 5rem; } }
